<div class="d-flex justify-content-center flex-row">
            <form action="/profile" method="post">
                <div class="form-control d-flex mt-2">
                    <input type="text" name="song" id="song" values="{{ song }}" placeholder="Write a song" required>
                    <button type="btn btn-outline-success" class="input-group-text">Post</button>
                </div>
            </form>
        </div>