{% extends "layout.njk" %}
{% block content %}
{% include "components/nav.njk" %}

    <main class="container">
     <div class="d-flex justify-content-center flex-row">
            <form action="/profile" method="post">
                <div class="form-control d-flex mt-2">
                    <input type="text" name="song" id="song" values="{{ song }}" placeholder="Write a song" required>
                    <button type="btn btn-outline-success" class="input-group-text">Post</button>
                </div>
            </form>
        </div>
  <div class="form-group">
  </div>
</form>
        </div>
                <ul class="list-group">
            {% for song in songs %}
                <li class="list-group-item">{{ song.songs }} <a href="/profile/{{ song.id }}/delete">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}