{% extends "layout.njk" %}
{% block content %}
    <main class="container">
        <div class="d-flex justify-content-center flex-row">
            <form action="/profile" method="post">
                <div class="form-control d-flex mt-2">
                    <input type="text" name="song" id="song" values="{{ song }}" placeholder="Write a song" required>
                    <button type="btn btn-outline-success" class="input-group-text">Post</button>
                </div>
            </form>
        </div>
                <ul>
            {% for song in songs %}
                <li>{{ song.songs }} <a href="/profile/{{ song.id }}/delete">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}