{% extends "layout.njk" %}
{% block content %}
{% include "components/nav.njk" %}

    <main class="container">
        <div class="d-flex justify-content-center flex-row">
            <form>
                <div class="form-group">
                 <label for="exampleInputEmail1">Song</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter song">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your list with anyone else.</small>
     </div>
  <div class="form-group">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
                <ul>
            {% for song in songs %}
                <li>{{ song.songs }} <a href="/profile/{{ song.id }}/delete">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}